:root {
  --bg: #1e1e1e;
  --white: #e8ecf1;
  --black: #1e1e1e;
  --gray: #606470;
  --gray2: #6c737e;
  --accent: #cdd5e0;
}

.wrapper {
  -webkit-app-region: drag;

  height: 100vh;
  width: 100vw;
  min-height: 100vh;
  min-width: 100vw;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  display: grid;
  grid-template-columns: minmax(200px, 20vw) 1fr;
  grid-template-rows: 1fr minmax(75px, 10vh);
  grid-template-areas: "sidebar main"
                       "sidebar footer";
}

aside {
  grid-area: sidebar;
  background: var(--white);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  overflow: auto;
}

aside > div {
  -webkit-app-region: no-drag;

  /* Fix corners on dragged element */
  transform: translate(0, 0);

  font-size: 12px;
  background: var(--white);
  color: var(--black);

  flex-grow: 1;
  width: 100%;
  height: 100%;
  min-height: 100px;

  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-rows: 40px 1fr;
  grid-template-areas: "icon title"
                       "icon description";

 transition: all 200ms;
}

.icon {
  grid-area: icon;

  font-size: 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  grid-area: title;

  padding-left: 10px;
  font-weight: bold;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.description {
  grid-area: description;

  padding: 5px 10px;

  text-overflow: ellipsis;

  display: flex;
  flex-direction: column;
}

aside > div:hover {
  background: var(--black);
  color: var(--white);
  transition: all 200ms;
  cursor: pointer;
}

main {
  grid-area: main;
  background: var(--white);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.screen {
  width: 90%;
  height: 90%;

  border-radius: 10px;
  background: var(--accent);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.menu-bar {
  width: 100%;
  height: 20px;

  background: var(--black);
  border-radius: 10px 10px 0 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.menu-bar > span {
  color: var(--white);
  padding: 1px 0px 0 8px;
}

.dock {
  width: 100%;
  height: 100%;

  background: none;

  display: flex;
}

.center {
  flex-direction: row !important;
  justify-content: center;
  align-items: flex-end;
}

.left {
  flex-direction: column !important;
  justify-content: center;
  align-items: flex-start;
}

.right {
  flex-direction: column !important;
  justify-content: center;
  align-items: flex-end;
}

.right > div {
  margin: 3px 8px 0 0 !important;
}

.left > div {
  margin: 3px 0 0 8px !important;
}

.hidden {
  visibility: hidden;
}

.dock > div {
  margin: 0 3px 8px 0;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: var(--black);
}

footer {
  -webkit-app-region: no-drag;

  grid-area: footer;
  background: var(--white);
}

.footer {
  margin: 0 5% 5px 5%;

  display: grid;
  grid-template-columns: auto 1fr 100px;
  grid-template-rows: 1fr;
  grid-template-areas: "screen-options theme-options other-options";
}

.screen-options {
  grid-area: screen-options;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.screen-options > .button {
  text-align: center;
  font-weight: bold;
  font-size: 8px;
  color: var(--white);
  background: var(--black);

  border: none;
  border-radius: 5px;

  padding: 10px 15px;
  margin-bottom: 5px;

  transition: all 200ms;
}

.screen-options > .button:hover {
  cursor: pointer;
  transition: all 200ms;
}

.screen-options > .button:active {
  box-shadow: 0 0 5px var(--black);
  transition: all 200ms;
}

.theme-options {
  grid-area: theme-options;
}

.other-options {
  grid-area: other-options;
}

.other-options > .button {
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  color: var(--white);
  background: var(--black);

  border: none;
  border-radius: 5px;

  height: 100%;
  padding: 10px 15px;
  margin-bottom: 5px;

  transition: all 200ms;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.other-options > .button > p:after {
  content: 'Launch Bar';
}

.other-options:hover {
  cursor: pointer;
}

.other-options:hover .button > p:after {
  content: '🚀';
}
