:root {
  --bg: #1e1e1e;
  --white: #e8ecf1;
  --black: #1e1e1e;
  --gray: #d0d8e2;
  --gray2: #6c737e;
  --accent: #cdd5e0;
  --time: 200ms;
}

.hide {
  visibility: hidden;
}

.wrapper {
  -webkit-app-region: drag;
  height: 100vh;
  width: 100vw;
  min-height: 100vh;
  min-width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr 90px;
  grid-template-areas:
    "sidebar main"
    "sidebar footer";
}

/* ⬡ ASIDE */

aside {
  grid-area: sidebar;
  background: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
}

aside > div {
  -webkit-app-region: no-drag;
  word-wrap: break-word;
  font-size: 12px;
  background: var(--white);
  color: var(--black);
  flex-grow: 1;
  width: 100%;
  height: 100%;
  min-height: 100px;
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-rows: 40px 1fr;
  grid-template-areas:
    "icon title"
    "icon description";
  transition: all var(--time);
}

aside > div:hover {
  background: var(--black);
  color: var(--white);
  transition: all var(--time);
  cursor: pointer;
}

.icon {
  grid-area: icon;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  grid-area: title;
  padding-left: 10px;
  text-transform: capitalize;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.description {
  grid-area: description;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
}

.active {
  background: var(--gray);
}

/* ⬡ MAIN */

main {
  grid-area: main;
  background: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.screen {
  width: 90%;
  height: 92%;
  border-radius: 10px;
  background: var(--accent);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.menu-bar {
  width: 100%;
  height: 20px;
  background: var(--black);
  color: var(--white);
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.menu-bar > span {
  padding-left: 8px;
}

.menu-bar > div {
  padding-left: 10px;
  font-size: 12px;
  font-weight: bold;
}

.dock {
  width: 100%;
  height: 100%;
  background: none;
  display: flex;
  flex-direction: row !important;
  justify-content: center;
  align-items: flex-end;
}

.dock > div {
  margin: 0 3px 8px 0;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: var(--black);
}

/* ⬢ WIDGET SETTINGS */

.settings {
  width: 90%;
  height: 92%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
}

.widget-preview {
  height: 30%;
  width: 100%;
  border-bottom: 1px solid var(--gray);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.widget-preview > div {
  color: var(--white);
  background: var(--black);
  width: 50px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: 300;
  text-transform: uppercase;
}

.widget-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.widget-title > h1 {
  margin: 0;
}

.widget-title .checkbox {
  margin: 7px 0 0 30px;
}

.widget-settings {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.widget-settings-left,
.widget-settings-right {
  width: 50%;
}

.widget-settings-left {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  overflow: auto;
}

.widget-settings-right {
  margin-left: 10px;
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.table-row {
  height: 20px;
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.table-row > div {
  flex-grow: 2;
  flex-basis: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 10px;
  font-weight: 300;
  text-transform: uppercase;
}

.table-row > div:first-child {
  justify-content: flex-start;
}

.table-row > div:nth-child(2) {
  justify-content: center;
}

.table-row > div:nth-child(3) {
  justify-content: flex-end;
}

.header {
  font-weight: bold;
}

.separator {
  padding: 5px 0;
  color: var(--gray2);
  border-bottom: 1px solid var(--gray);
}

/* ⬡ FOOTER */

footer {
  -webkit-app-region: no-drag;
  grid-area: footer;
  background: var(--white);
  padding: 0 5% 10px 5%;
}

.footer {
  display: flex;
}

.options {
  grid-area: left-options;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 200px;
}

.column {
  flex-direction: column !important;
}

.flex-start {
  align-items: flex-start !important;
}

.section-content {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.section-title {
  margin-bottom: 5px;
  font-size: 10px;
  color: var(--gray2);
  text-transform: uppercase;
}
