.segmented-control {
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  background: var(--white);
  border-radius: 3px;
  border: 1px solid var(--gray-2);
  height: 25px;
}

.segmented-control:hover {
  cursor: pointer;
}

.segmented-control > div {
  color: var(--gray-2);
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.segmented-control > div:active {
  background: var(--gray-1);
}

.segmented-control > div.selected > svg {
  color: var(--fg);
}

.segmented-control > div > svg {
  width: 15px;
  height: 15px;
  stroke-width: 1px;
  transition: color var(--time);
}

.segmented-control > div:hover > svg {
  color: var(--fg);
  transition: color var(--time);
}
